/*-- scss:defaults --*/
$claret-border-color: #6c1d45; // Define your color as a variable
$gold-text-color: #bfb008;
$white-text-color: #f6f6f2;
$body-bg: #FFFFFC;
$dark-green-color: #145A32;

/*-- scss:rules --*/

.navbar {
  border-bottom: 2pt solid $claret-border-color;
}

.footer {
  border-top: 2pt solid $claret-border-color;
}

.navbar-brand {
  color: #000000 !important;
}

.nav-link {
  color: #000000 !important; 
}

.nav-link.active, .nav-link:hover {
  background-color: $claret-border-color !important;
  /*--Text Color/*/
  color: $white-text-color !important;
  /* 3. Border/Shape: Optional to clean up the look */
  border-radius: 5px !important; 
}

.toc-action:hover, .nav-footer-left a:hover {
    background-color: $claret-border-color !important;
  /*--Text Color/*/
  color: $white-text-color !important;
  padding: 2px 5px;
  /* 3. Border/Shape: Optional to clean up the look */
  border-radius: 5px !important; 
}

.navbar-brand:hover span {
  /*--Text Color/*/
  color: #300C1D !important;
  text-decoration: underline !important;
  text-decoration-color: #300C1D !important;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  /* 3. Border/Shape: Optional to clean up the look */
  border-radius: 5px !important; 
}

.quarto-title-banner {
  margin-bottom: 1em;
  background-color: $body-bg;
}
.quarto-title-block {
  margin-bottom: 1em;
  background-color: $body-bg;
}

/* --- Body Link Styles --- */
a:not(.navbar-brand) {
  color: $dark-green-color;
  text-decoration: none; /* Optional: removes default underline */
}

a:not(.navbar-brand):visited {
  color: $claret-border-color; /* Uses your claret for visited links */
}

a:not(.navbar-brand):hover {
  color: darken($dark-green-color, 10%);
  text-decoration: underline;
}
