/*-- scss:defaults --*/
$claret-border-color: #6c1d45; // Define your color as a variable
$gold-text-color: #bfb008;
$white-text-color: #f6f6f2;
$body-bg: #222222;              // Forces a dark background for the main section
$body-color: #F0F0F0;

/*-- scss:rules --*/

.navbar {
  border-bottom: 2pt solid $claret-border-color; ;
}

.footer {
  border-top: 2pt solid $claret-border-color;
}

.navbar-brand {
  color: #000000 !important;
}

.nav-link {
  color: #000000 !important; 
}

.nav-link.active, .nav-link:hover {
  background-color: $claret-border-color !important;
  /*--Text Color/*/
  color: $white-text-color !important;
  /* 3. Border/Shape: Optional to clean up the look */
  border-radius: 5px !important; 
}

.navbar-brand:hover span {
  /*--Text Color/*/
  color: #300C1D !important;
  text-decoration: underline !important;
  text-decoration-color: #300C1D !important;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  /* 3. Border/Shape: Optional to clean up the look */
  border-radius: 5px !important; 
}

.quarto-title-banner {
  margin-bottom: 1em;
  color: $body-color !important;
  background-color: $body-bg;
}
.quarto-title-block {
  margin-bottom: 1em;
  color: $body-color !important;
  background-color: $body-bg;
}

.title {
  color: $body-color !important;
}

.listing-category {
  color: rgb(150, 150, 150);
}