/*-- scss:defaults --*/
$claret-border-color: #6c1d45;
$white-text-color: #f6f6f2;
$body-bg: #222222;
/* necessary to override default dark text color */
$body-color: #F0F0F0;
$link-color: #0000FF;
$link-clicked-color: #d43484;
$link-hover-color: #00FF85;
$translucent-grid-hover: rgba(#444444, 0.7);

/*-- scss:rules --*/

.navbar {
  border-bottom: 2pt solid $claret-border-color;
}

.footer {
  border-top: 2pt solid $claret-border-color;
}

.navbar-brand {
  color: #000000 !important;
}

.nav-link {
  color: #000000 !important; 
}

.navbar .nav-item.active, .navbar .nav-link:hover {
  background-color: $claret-border-color !important;
  color: $white-text-color !important;
  border-radius: 5px !important; 
}

.navbar-brand:hover span {
  color: #300C1D !important;
  text-decoration: underline !important;
  text-decoration-color: #300C1D !important;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  border-radius: 5px !important; 
}

.quarto-title-banner {
  margin-bottom: 1em;
  color: $body-color !important;
  background-color: $body-bg;
}
.quarto-title-block {
  margin-bottom: 1em;
  color: $body-color !important;
  background-color: $body-bg;
}

.title {
  color: $body-color !important;
}

.listing-category {
  color: rgb(150, 150, 150);
}

/* This defines the color and underlining of links in the
main text section and the about section. It excludes
the navbar. */
.quarto-content a:not(.navbar-brand) {
  color: #58A6FF;
  text-decoration: none;
}

.quarto-content a:visited {
  color: #AD85E3; 
}

#quarto-document-content a:hover {
  text-decoration: underline;
  color: #0000FF
}

a:not(.navbar-brand):hover {
  text-decoration: underline;
}

.quarto-grid-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.02);
  transition: transform 0.2s;
  background-color: $translucent-grid-hover;
  color: #FAFAFA !important;
  text-decoration: none;
}

.listing-card:hover .listing-categories,
.listing-card:hover .listing-author,
.listing-card:hover .listing-date,
.listing-card:hover .quarto-category:hover {
  color: #C4C4C4 !important;
}

.listing-categories, .listing-author, .listing-date, .quarto-category {
  color: #A3A3A3 !important;
}