/*-- scss:defaults --*/
$claret-border-color: #6c1d45;
$grid-border-color: hsl(44, 5%, 90%);
$grid-color: #FFFEF5;
$grid-hover-color: #FFFEEA;
$white-text-color: #f6f6f2;
$link-clicked-color: #551A8B;
$body-bg: #FFFFFC;
$translucent-grid-hover: rgba($grid-hover-color, 0.7);

/*-- scss:rules --*/

/* all navbar and footer rules are identical in dark & light modes */

/*borders for navbar and footer*/
.navbar {
  border-bottom: 2pt solid $claret-border-color;
}

.footer {
  border-top: 2pt solid $claret-border-color;
}

/* ensuring text is jet black in navbar */
.navbar-brand {
  color: #000000 !important;
}

/* even the links in the navbar are black */
.nav-link {
  color: #000000 !important; 
}

/* but everything will change upon hovering. the background
will become the same as the border and the text will turn white.
and they will stay that way as long as you are on that tab (active)*/
.navbar .nav-item.active, .navbar .nav-link:hover {
  background-color: $claret-border-color !important;
  color: $white-text-color !important;
  border-radius: 5px !important; 
}

/* hovering over the brand name in the navbar also changes
its color to a very dark claret and underlines it*/
.navbar-brand:hover span {
  color: #300C1D !important;
  text-decoration: underline !important;
  text-decoration-color: #300C1D !important;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  border-radius: 5px !important; 
}

/* FROM HERE THERE ARE DIFFERENCES BETWEEN DARK AND LIGHT MODES */
/* This makes the post content and the title and author/date blocks
all have the same dark background and light text */
.quarto-title-banner {
  margin-bottom: 1em;
  color: #000000 !important;
  background-color: $body-bg;
}
.quarto-title-block {
  margin-bottom: 1em;
  color: #000000 !important;
  background-color: $body-bg;
}

/* Footer links */
.nav-footer p a,
.footer .toc-actions a,
.footer .nav-link p {
  text-decoration: underline;
  color: #000000;
}

.nav-footer p a:visited,
.footer .toc-actions a:visited,
.footer .nav-link p:visited {
  text-decoration: underline;
  color: #000000;
}

.nav-footer p a:hover,
.footer .toc-actions a:hover,
.footer .nav-link p:hover {
  text-decoration: underline;
  color: $claret-border-color;
}

.quarto-content a:visited {
  color: $link-clicked-color;
}

#quarto-document-content a {
  color: #0000FF;
}

#quarto-document-content a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.about-links {
  color: $body-color;
  text-decoration: none;
}

.about-link:hover {
  text-decoration: underline;
  background-color: #0000FF !important;
  color: $white-text-color !important;
  border-radius: 5px !important; 
}

/*makes links blue and not underlined in body content - posts and about section*/
a:not(.navbar-brand) {
  color:#0000FF;
  text-decoration: none;
}

a:not(.navbar-brand):visited {
  color: $link-clicked-color;
}

a:not(.navbar-brand):hover {
  color: #0056b3;
  text-decoration: underline;
}

/* stops the grid listing cards from being underlined on hover */
#listing-listing a:hover {
  text-decoration: none;
  color: inherit;
}

.quarto-grid-item {
  background-color: $grid-color !important;
  text-decoration: none;
  border: 1pt solid $grid-border-color;
}

.quarto-grid-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.02);
  transition: transform 0.2s;
  background-color: $grid-hover-color;
  text-decoration: none;
  border: 2pt solid $grid-border-color;
}

.listing-card:hover .listing-categories,
.listing-card:hover .listing-author,
.listing-card:hover .listing-date,
.listing-card:hover .quarto-category:hover{
  color: #202020 !important;
}

.listing-categories, .listing-author, .listing-date, .quarto-category {
  color: #626262 !important;
}